@charset "UTF-8";
/*------------------------------------*\
    #PROJECT
\*------------------------------------*/
/**
 * Master Sass file for PROJECT.
 */
/**
 * SETTINGS             GLOBAL CONFIG AND SETTINGS
 * ========             ==========================
 * Global...............Site-wide settings and config.
 * Colors...............Color schemes and settings.
 *
 *
 * TOOLS                GLOBAL PREPROCESSOR TOOLING
 * =====                ===========================
 * Functions............Globally-available helper functions.
 * Mixins...............Globally-available mixins.
 *
 *
 * GENERIC              SITE-WIDE STARTING-POINT STYLES
 * =======              ===============================
 * Box-sizing...........Apply global `border-box`.
 * Normalize.css........Use @necolas’ Normalize.css for consistency.
 * Reset................Remove default margins.
 * Shared...............High-level shared traits (mainly for vertical rhythm).
 *
 *
 * BASE                 TYPE (I.E. BARE ELEMENT) SELECTORS
 * ====                 ==================================
 * Page.................Page-level (e.g. `html`, `body`) styles.
 * Headings.............Headings 1–6.
 * Links................Default hyperlink styles.
 *
 *
 * OBJECTS              DESIGN-FREE DESIGN PATTERNS
 * =======              ===========================
 * Buttons..............Unstyled button objects.
 *
 *
 * COMPONENTS           DESIGNED, COMPLETE COMPONENTS
 * ==========           =============================
 * Buttons..............Fully styled buttons and their variants.
 *
 *
 * TRUMPS               HELPERS AND OVERRIDES
 * ======               =====================
 * Widths...............Width helper classes.
 */
/*------------------------------------*\
    #BOX-SIZING
\*------------------------------------*/
/**
 * Set the global `box-sizing` state to `border-box`.
 *
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 * paulirish.com/2012/box-sizing-border-box-ftw
 */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*\
    #RESET
\*------------------------------------*/
/**
 * As well as using normalize.css, it is often advantageous to remove all
 * margins from certain elements.
 */
body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0;
}

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title],
dfn[title] {
  cursor: help;
}

/**
 * Remove underlines from potentially troublesome elements.
 */
u,
ins {
  text-decoration: none;
}

/**
 * Apply faux underlines to inserted text via `border-bottom`.
 */
ins {
  border-bottom: 1px solid;
}

/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned,this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup,
ul, ol, dl,
blockquote, p, address,
table,
fieldset, figure,
pre {
  margin-bottom: 24px;
}

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once,here.
 */
ul, ol, dd {
  margin-left: 48px;
}

/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * High-, page-level styling.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.5;
  /* [1] */
  background-color: #fff;
  color: #424242;
  overflow-y: scroll;
  /* [2] */
  min-height: 100%;
  /* [3] */
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
h1,
.alpha {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1;
}

h2,
.beta {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.33333;
}

h3,
.gamma {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.71429;
}

h4,
.delta {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
}

h5,
.epsilon {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.33333;
}

h6,
.zeta {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}

/*------------------------------------*\
    #LINKS
\*------------------------------------*/
a {
  text-decoration: none;
  color: #f43059;
}
a:hover, a:active {
  text-decoration: underline;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Extend `.btn` in _components.buttons.scss.
 */
/**
 * 1. Allow us to style box model properties.
 * 2. Line different sized buttons up a little nicer.
 * 3. Make buttons inherit font styles (often necessary when styling `input`s as
 *    buttons).
 * 4. Reset/normalize some styles.
 * 5. Force all button-styled elements to appear clickable.
 * 6. Fixes odd inner spacing in IE7.
 */
.btn {
  display: inline-block;
  /* [1] */
  vertical-align: middle;
  /* [2] */
  font: inherit;
  /* [3] */
  text-align: center;
  /* [4] */
  border: none;
  /* [4] */
  margin: 0;
  /* [4] */
  cursor: pointer;
  /* [5] */
  overflow: visible;
  /* [6] */
  padding: 12px 24px;
  /**
   * Fix a Firefox bug whereby `input type="submit"` gains 2px extra padding.
   */
}
.btn, .btn:hover, .btn:active, .btn:focus {
  text-decoration: none;
  /* [4] */
}
.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
/**
 * Extends `.btn` in _objects.buttons.scss.
 */
.btn {
  background-color: #f43059;
}
.btn, .btn:hover, .btn:active, .btn:focus {
  color: white;
}

/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * Whole.
 */
.one-whole {
  width: 100% !important;
}

/**
 * Halves.
 */
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths {
  width: 50% !important;
}

/**
 * Thirds.
 */
.one-third,
.two-sixths,
.three-ninths,
.four-twelfths {
  width: 33.3333333% !important;
}

.two-thirds,
.four-sixths,
.six-ninths,
.eight-twelfths {
  width: 66.6666666% !important;
}

/**
 * Quarters.
 */
.one-quarter,
.two-eighths,
.three-twelfths {
  width: 25% !important;
}

.three-quarters,
.six-eighths,
.nine-twelfths {
  width: 75% !important;
}

/**
 * Fifths.
 */
.one-fifth,
.two-tenths {
  width: 20% !important;
}

.two-fifths,
.four-tenths {
  width: 40% !important;
}

.three-fifths,
.six-tenths {
  width: 60% !important;
}

.four-fifths,
.eight-tenths {
  width: 80% !important;
}

/**
 * Sixths.
 */
.one-sixth,
.two-twelfths {
  width: 16.6666666% !important;
}

.five-sixths,
.ten-twelfths {
  width: 83.3333333% !important;
}

/**
 * Eighths.
 */
.one-eighth {
  width: 12.5% !important;
}

.three-eighths {
  width: 37.5% !important;
}

.five-eighths {
  width: 62.5% !important;
}

.seven-eighths {
  width: 87.5% !important;
}

/**
 * Ninths.
 */
.one-ninth {
  width: 11.1111111% !important;
}

.two-ninths {
  width: 22.2222222% !important;
}

.four-ninths {
  width: 44.4444444% !important;
}

.five-ninths {
  width: 55.5555555% !important;
}

.seven-ninths {
  width: 77.7777777% !important;
}

.eight-ninths {
  width: 88.8888888% !important;
}

/**
 * Tenths.
 */
.one-tenth {
  width: 10% !important;
}

.three-tenths {
  width: 30% !important;
}

.seven-tenths {
  width: 70% !important;
}

.nine-tenths {
  width: 90% !important;
}

/**
 * Twelfths.
 */
.one-twelfth {
  width: 8.3333333% !important;
}

.five-twelfths {
  width: 41.6666666% !important;
}

.seven-twelfths {
  width: 58.3333333% !important;
}

.eleven-twelfths {
  width: 91.6666666% !important;
}
